<h1>Portfolio Index</h1>

<% @portfolios.each do |portfolio| %>
  <section id="portfolio-<%= portfolio.id %>">
    <p><%= link_to "#{portfolio.name}", "/portfolios/#{portfolio.id}" %></p>
    <p><%= portfolio.description %></p>
  </section>
<% end %>
